

# ----------- For testing Streamlit App Locally ------------------
# Uncomment Redirect Uri to test Cognito Auth locally
# REDIRECT_URI=http://localhost:8501 

# ----Update below values from SSM Parameter store once the App is deployed ------ #
USER_POOL_ID="/{app_name}/cognito/user-pool-id"
USER_POOL_CLIENT_ID="/{app_name}/cognito/client-id"
USER_POOL_CLIENT_SECRET="/{app_name}/cognito/client-secret"
USER_POOL_DOMAIN="/{app_name}/cognito/user-pool-domain"
API_URL="/{app_name}/apigateway/url"
SHOPPING_AGENT_ID = "/{app_name}/bedrock/shopping-agent-id"
SHOPPING_AGENT_ALIAS_ID="/{app_name}/bedrock/shopping-agent-alias-id" # No Alias id will invoke Draft Agent version
# ----Update below values from SSM Parameter store once the App is deployed ------ #

AWS_REGION='your-aws-account-region'
AWS_ACCOUNT_ID ='your-aws-account-id'


